/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bwcywwsvlv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bwcywwsvlv] {
  color: #0077cc;
}

.btn-primary[b-bwcywwsvlv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bwcywwsvlv], .nav-pills .show > .nav-link[b-bwcywwsvlv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bwcywwsvlv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bwcywwsvlv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bwcywwsvlv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bwcywwsvlv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bwcywwsvlv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Responsive Styles */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  a.navbar-brand[b-bwcywwsvlv] {
    font-size: 1rem;
  }
  
  .footer[b-bwcywwsvlv] {
    font-size: 0.875rem;
    line-height: 40px;
  }

  button.accept-policy[b-bwcywwsvlv] {
    font-size: 0.875rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  a.navbar-brand[b-bwcywwsvlv] {
    font-size: 1.25rem;
  }

  .footer[b-bwcywwsvlv] {
    font-size: 1rem;
    line-height: 50px;
  }

  button.accept-policy[b-bwcywwsvlv] {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  a.navbar-brand[b-bwcywwsvlv] {
    font-size: 1.5rem;
  }

  .footer[b-bwcywwsvlv] {
    font-size: 1.125rem;
    line-height: 55px;
  }

  button.accept-policy[b-bwcywwsvlv] {
    font-size: 1.125rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  a.navbar-brand[b-bwcywwsvlv] {
    font-size: 1.75rem;
  }

  .footer[b-bwcywwsvlv] {
    font-size: 1.25rem;
    line-height: 60px;
  }

  button.accept-policy[b-bwcywwsvlv] {
    font-size: 1.25rem;
  }
}
