.a-cleanup{
    color:inherit;
    text-decoration: none;
}

.a-cleanup:hover{
    text-decoration: none;
    color: inherit;
}
.store-btn{
    transition: all 0.2 ease;
}
.store-btn:hover{
    background-color: #1a3446;
    border: 2px solid #1a3446;
}
input[type-number]::-webkit-inner-spin-button,
input[type-number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.nav-link.active {
    color: red !important;
}
.dropdown-item.active {
    color: red !important;
}


