.a-cleanup {
    color: inherit;
    text-decoration: none;
}

.a-cleanup:hover {
    text-decoration: none;
    color: inherit;
}

.store-btn {
    transition: all 0.2s ease;
}

.store-btn:hover {
    background-color: #1a3446;
    border: 2px solid #1a3446;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control-long {
    width: 100%;
    max-width: 600px;
}

.nav-link.active {
    background-color: antiquewhite;
}

.dropdown-item.active {
    /* Add styles for active dropdown items if needed */
}

.sorting-filter {
    margin-bottom: 15px;
}

#sort {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    position: relative;
}

#sort:hover {
    background-color: #f8f8f8;
}

#sort::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#sort option {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

#sort option:checked {
    background-color: #007bff;
    color: #fff;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

/* @media screen and (max-width: 768px) {
    .icons-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
} */

/* @media screen and (max-width: 600px) {
    .icons-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
} */
/* @media screen and (max-width: 480px) {
    #sort {
        max-width: 150px;
    }
} */
